<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEGqcPUs-9IZuXK3C6wAKa6f1yFbw_7DY</string>
	<key>GCM_SENDER_ID</key>
	<string>865847258501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lemon.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-f1377</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-f1377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865847258501:ios:c79f876566084f651f68ec</string>
</dict>
</plist>